.films .film {
    margin-bottom: 15px;
    position: relative;
}
.films .film img {
    max-width: 100%;
    height: auto;
}

.films .film .film-details {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.films .film .film-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.films .film .film-details .film-details-inner .film-title h3 {
    font-size: 22px;
}